img{
    width: 20%;
}

div{
   text-align: center;
}

.hor p{
    display: inline;
}

.hor img{
    width: 10%;
}

p{
    text-align: center;
}


h2{
    text-align: center;
}

.float-left img{
    float: left;
    margin-bottom: 30px;
    margin-right: 20px;
    width: 40%;
}

footer{
    clear: both;
    text-align: center;
}