@import "colors";

@mixin textStyle($fsize, $width, $height, $color:$primaryBlue, $ffamily:'Poppins', $fweight:500) {
    width: $width, ;
    height: $height;
    color: $color;
    font-family: $ffamily;
    font-size: 15px;
    font-weight: $fweight;
}
