@font-face {
    font-family: 'LIBRARY 3 AM';
    src: url('LIBRARY3AM.woff2') format('woff2'),
        url('LIBRARY3AM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Perfograma';
    src: url('Perfograma.woff2') format('woff2'),
        url('Perfograma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LIBRARY 3 AM soft';
    src: url('LIBRARY3AMsoft.woff2') format('woff2'),
        url('LIBRARY3AMsoft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FrakturOmniv1';
    src: url('FrakturOmniv1.woff2') format('woff2'),
        url('FrakturOmniv1.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

